In [2]:
import csv
import pandas as pd

In [40]:
df = pd.read_csv(r"C:\Users\korne\PycharmProjects\n_term_influences\pre-processing data\exam results\all_results_filtered.csv", sep=';')
df2 = pd.read_csv(r"C:\Users\korne\PycharmProjects\n_term_influences\pre-processing data\n-term\n-terms_filtered.csv", sep=';')

In [41]:
df.head()

,YEAR,PROVINCE,DEGREE,COURSE_NAME,NUMBER_OF_STUDENTS,SCORE
0,2015,Overijssel,HAVO,aardrijkskunde,37,6.2
1,2015,Overijssel,HAVO,management en organisatie,30,6.2
2,2015,Overijssel,HAVO,muziek,8,6.1
3,2015,Overijssel,HAVO,"tekenen, handvaardigheid, textiele vormgeving",13,6.1
4,2015,Overijssel,HAVO,Nederlands,100,6.1

In [5]:
df.shape

(267004, 25)

In [44]:
df.describe()

                YEAR  NUMBER_OF_STUDENTS          SCORE
count  241412.000000       241412.000000  241412.000000
mean     2014.495323           34.994806       6.389795
std         2.290062           32.015396       0.575054
min      2011.000000            0.000000       0.000000
25%      2013.000000           12.000000       6.100000
50%      2014.000000           26.000000       6.400000
75%      2016.000000           48.000000       6.700000
max      2018.000000          331.000000       9.900000

In [8]:
df['VAKNAAM'].value_counts()

Engels                                           24596
Nederlands                                       24571
biologie                                         23022
economie                                         22411
Duits                                            17899
wiskunde                                         16132
aardrijkskunde                                   14741
geschiedenis                                     14612
natuur- en scheikunde 1                          12832
Frans                                            12243
kunst                                             8335
wiskunde A                                        8218
scheikunde                                        8142
wiskunde B                                        8127
natuurkunde                                       8127
management en organisatie                         7291
beeldende vakken                                  5359
natuur- en scheikunde 2                           5026
tekenen, handvaardigheid, textiele vormgeving     3775
maatschappijleer 2                                3446
wiskunde C                                        2903
Latijn                                            2893
muziek                                            2571
maatschappijwetenschappen                         2413
Grieks                                            2302
filosofie                                         1857
Spaans                                            1253
maatschappijkunde                                 1088
drama                                              272
Turks                                              134
Fries                                              134
Russisch                                           113
Arabisch                                            92
dans                                                74
Name: VAKNAAM, dtype: int64

In [103]:
# df.loc[df['VAKNAAM'].str.contains('Duits'), 'VAKNAAM'].value_counts()
df2.loc[df2['COURSE_NAME'].str.contains('Neder')]

     YEAR         DEGREE  NUMBER COURSE_NAME  LENGTH_SCORE_SCALE N-TERM
0    2012        VMBO BB   12176  Nederlands                  39    1,4
13   2013        VMBO BB   13176  Nederlands                  38    1,2
26   2014        VMBO BB   14169  Nederlands                  42    1,1
39   2015        VMBO BB   15166  Nederlands                  40    1,2
52   2016        VMBO BB   16163  Nederlands                  40    0,8
66   2017        VMBO BB   17160  Nederlands                  40    0,9
80   2018        VMBO BB   18159  Nederlands                  39    0,6
94   2019        VMBO BB   19160  Nederlands                  39    0,7
108  2012        VMBO KB   12178  Nederlands                  50    1,0
121  2013        VMBO KB   13178  Nederlands                  49    0,8
134  2014        VMBO KB   14171  Nederlands                  51    1,2
147  2015        VMBO KB   15168  Nederlands                  50    0,1
160  2016        VMBO KB   16164  Nederlands                  52    1,1
174  2017        VMBO KB   17161  Nederlands                  51    0,7
188  2018        VMBO KB   18160  Nederlands                  51    0,1
202  2019        VMBO KB   19161  Nederlands                  52    0,6
216  2012  VMBO GL en TL   12180  Nederlands                  51    0,5
233  2013  VMBO GL en TL   13180  Nederlands                  50    0,2
253  2014  VMBO GL en TL   14173  Nederlands                  50    0,4
273  2015  VMBO GL en TL   15170  Nederlands                  49    0,2
293  2016  VMBO GL en TL   16165  Nederlands                  53    0,9
313  2017  VMBO GL en TL   17162  Nederlands                  51    0,3
333  2018  VMBO GL en TL   18161  Nederlands                  51    0,3
353  2019  VMBO GL en TL   19162  Nederlands                  50    0,4
373  2012           HAVO   12141  Nederlands                  50    1,1
395  2013           HAVO   13141  Nederlands                  47    1,1
417  2014           HAVO   14139  Nederlands                  45    1,2
439  2015           HAVO   15137  Nederlands                  63    1,1
461  2016           HAVO   16137  Nederlands                  57    0,9
483  2017           HAVO   17134  Nederlands                  61    1,6
505  2018           HAVO   18135  Nederlands                  60    0,7
527  2019           HAVO   19134  Nederlands                  63    1,0
549  2012            VWO   12101  Nederlands                  49    0,9
574  2013            VWO   13101  Nederlands                  49    1,4
599  2014            VWO   14101  Nederlands                  49    1,3
624  2015            VWO   15101  Nederlands                  64    1,0
649  2016            VWO   16101  Nederlands                  66    1,1
674  2017            VWO   17101  Nederlands                  72    1,2
699  2018            VWO   18101  Nederlands                  62    1,1
724  2019            VWO   19101  Nederlands                  65    0,6

In [112]:
set_of_vak = {item for item in df2['COURSE_NAME']}
with open('test2.txt', 'w') as f:
    for item in set_of_vak:
        f.write(item)
        f.write('\n')

In [86]:
df2.loc[df2["YEAR"] == 2015].loc[df2["DEGREE"] == 'vwo']

,YEAR,DEGREE,NUMBER,COURSE_NAME,LENGTH_SCORE_SCALE,N-TERM
724,2015,vwo,15101,VWO Nederlands,64,"1,0"
725,2015,vwo,15102,VWO Fries,48,"0,5"
726,2015,vwo,15103,VWO Latijn,76,"1,6"
727,2015,vwo,15104,VWO Grieks,76,"0,4"
728,2015,vwo,15105,VWO Frans,50,"0,5"
729,2015,vwo,15106,VWO Duits,49,"0,5"
730,2015,vwo,15107,VWO Engels,48,"0,5"
731,2015,vwo,15108,VWO Spaans,51,"0,0"
732,2015,vwo,15109,VWO Russisch,50,"0,7"
733,2015,vwo,15110,VWO Turks,56,"0,7"
734,2015,vwo,15111,VWO Arabisch,46,"0,7"
735,2015,vwo,15112,VWO geschiedenis,76,"1,0"
736,2015,vwo,15113,VWO aardrijkskunde,65,"0,6"
737,2015,vwo,15114,VWO wiskunde A,85,"0,8"
738,2015,vwo,15115,VWO wiskunde A (pilot),79,"1,9"
739,2015,vwo,15116,VWO wiskunde B,77,"1,4"
740,2015,vwo,15117,VWO wiskunde B (pilot),80,"1,2"
741,2015,vwo,15118,VWO wiskunde C,81,"0,7"
742,2015,vwo,15119,VWO wiskunde C (pilot),76,"1,2"
743,2015,vwo,15120,VWO natuurkunde,75,"0,9"
744,2015,vwo,15121,VWO natuurkunde (pilot),75,"1,4"
745,2015,vwo,15122,VWO scheikunde,70,"1,7"
746,2015,vwo,15123,VWO scheikunde (pilot),69,"1,8"
747,2015,vwo,15124,VWO biologie,66,"1,1"
748,2015,vwo,15125,VWO biologie (pilot),68,"1,3"
749,2015,vwo,15126,VWO economie,53,"0,8"
750,2015,vwo,15127,VWO management & organisatie,63,"0,2"
751,2015,vwo,15128,VWO muziek,77,"0,4"
752,2015,vwo,15129,"VWO tekenen, handvaardigheid, textiele vormgeving",63,"1,0"
753,2015,vwo,15130,VWO filosofie,45,"0,9"
754,2015,vwo,15131,VWO maatschappijwetenschappen,71,"0,7"
755,2015,vwo,15132,VWO maatschappijwetenschappen (pilot),68,"1,4"
756,2015,vwo,15133,VWO kunstbeeldende vormgeving-dans-drama-muzie...,64,"0,8"

yes

In [34]:
(df['TOTAAL AANTAL SCHOOLEXAMENS MET CIJFER'] == df['AANTAL SCHOOLEXAMENS MET CIJFER MEETELLEND VOOR DIPLOMA']).value_counts(normalize=True)

True     0.967903
False    0.032097
dtype: float64